<h1>DIS BUT A PLAYLIST CALLED <%= @playlist.name %></h1>

<div id="songs">
  JAM LIST:
  <ol>
    <% if @playlist.songs.empty? %>
      BOO NO SONGS.
      <% if current_user.id == @playlist.user_id %>
        <a href="/songs/new">PLS ADD.</a>
      <% end %>
    <% else %>
      <% @playlist.songs.each do |s| %>
      <li>
        <%= s.details %>
        <form action="/songs/<%= s.id %>/edit" method="get">
          <button type="submit">EDIT IT</button>
        </form>
        <form action="/songs/<%= s.id %>" method="post">
          <button type="submit" name="button" onclick="return confirm('YOU FREAKIN SURE?')">DUMP IT</button>
        </form>
      </li>
      <% end %>
    <% end %>
  </ol>
</div>
